.page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}


header {
grid-column: 1 / -1;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
}

header .mainheader {
    grid-column:
    span 1 / -2; 
    padding: 0;}

header .navbar {
    display:
    flex; grid-column: span 1;
    padding: 20px;
    flex-direction: 
    column;
    text-align: end;}

